video-call-backend-main.sln
VideoActive/bin/Debug/net9.0/VideoActive.dll
VideoActive/bin/Debug/net9.0/VideoActive.exe
VideoActive/bin/Debug/net9.0/VideoActive.pdb
VideoActive/obj/Debug/net9.0/apphost.exe
VideoActive/obj/Debug/net9.0/VideoActive.AssemblyInfo.cs
VideoActive/obj/Debug/net9.0/VideoActive.AssemblyInfoInputs.cache
VideoActive/obj/Debug/net9.0/VideoActive.AssemblyInfoInputs.cache
VideoActive/obj/Debug/net9.0/VideoActive.csproj.FileListAbsolute.txt
VideoActive/obj/Debug/net9.0/VideoActive.dll
VideoActive/obj/Debug/net9.0/VideoActive.pdb
VideoActive/wwwroot/uploads/4499b0d4-b98c-4c69-bc7f-317a293b50e8_1.jpg
VideoActive/obj/Debug/net9.0/refint/VideoActive.dll
VideoActive/obj/Debug/net9.0/ref/VideoActive.dll
VideoActive/obj/Debug/net9.0/VideoActive.sourcelink.json
