@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@if (ViewData["IsDefaultPassword"] as bool? == true)
{
    <div class="alert alert-info">
        <strong>Continuing to use the default password exposes you to security risks.</strong>
        <a class="btn btn-sm btn-warning ms-2" asp-controller="Admin" asp-action="ChangePassword">Update Now</a>
    </div>
}
